[submodule "badge-arcade-authentication"]
	path = badge-arcade-authentication
	url = https://github.com/PretendoNetwork/badge-arcade-authentication
[submodule "badge-arcade-secure"]
	path = badge-arcade-secure
	url = https://github.com/PretendoNetwork/badge-arcade-secure
